<div class="container">
  <div id="error_explanation">
  <% if @user.errors.any? %>
  <%= @user.errors.count %>error prohibited this obj from being saved:<br>
  <% @user.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>
</div>
  <div class="row">
    <div class="mx-auto col-5">
      <h2>User info</h2>
      <%= form_with model:@user, local:true do |f| %>
      <p>Name</p>
      <%= f.text_field :name, class:"form-control mb-3" %>
      <p>Image</p>
      <%= f.attachment_field :prfile_image, class:"mb-3" %>
      <p>Introduction</p>
      <%= f.text_area :introduction, class:"form-control mb-3" %>
      <%= f.submit "Update User", class:"btn btn-secondary" %>
      <% end %>
    </div>
  </div>
</div>
